@media(max-width: 1280px){
    .fs60px{
        font-size: 50px;
    }
}

@media(max-width: 1200px){
    .nav_tel{
        width: 80%;
    }
}

@media(max-width: 1152px){
    
}

@media(max-width: 1024px){
    .burger{
        display: block;
    }
    .nav{
        justify-content: space-between;
    }
    .nav ul{
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        align-items: flex-end;
        margin-top: 35%;
    }
    .nav_cont{
        display: none;
    }
    .nav button{
        display: none;
    }
    .promo_content h2, .reviews h2{
        font-size: 45px;
    }
    .property{
        flex-wrap: wrap;
        justify-content: center;
    }
    .review_wraper{
        height: 910px;
    }
    .review_wraper{
        flex-wrap: wrap;
        justify-content: center;
    }
    .review_text{
        height: auto;
    }
}

@media(max-width: 768px){
    .menu{
        width: 30%;
        transform: translateX(155%);
    }
    .promo_content_way{
        height: auto;
        min-height: 1344px;
        margin: 0 9%;
        justify-content: space-around;
    }
    .promo_content_block{
        display: flex;
        width: 83%;
        gap: 30px;
    }
    .content_project{
        align-items: center;
    }
    .project_window{
        width: 80%;
    }
}

@media(max-width: 640px){
    .reviews_content{
        gap: 30px;
        justify-content: space-evenly;
    }
    .reviews_content_window{
        width: 80%;
    }
    .fs60px{
        font-size: 30px;
    }
    .promo_content h2, .reviews h2{
        font-size: 30px;
        letter-spacing: 4px;
    }
    footer{
        height: auto;
    }
    .footer_content{
        justify-content: flex-start;
    }
    .footer_left, .footer_right, .footer_center{
        min-height: 210px;
        gap: 10px;
    }
}

@media(max-width: 426px){
    .form_feedback{
        margin: 0;
        width: 85%;
        height: 55%;
    }
    .property_text{
        margin-top: 23%;
    }
    .review_media img{
        width: 90%;
    }
    .review_text{
        align-items: center;
    }
    .promo_content h2, .reviews h2{
        font-size: 25px;
    }
    .fs30px{
        font-size: 23px;
    }
    .fs20px{
        font-size: 17px;
    }
}

@media(max-width: 376px){
    .form_feedback_group input{
        width: 250px;
    }   
}

@media(max-width: 320px){
    .fs60px,
    .fs30px{
        letter-spacing: 2px;
    }
    .btn{
        width: 255px;
    }
    .logo_img{
        height: auto;
    }
    .review_wraper{
        height: 750px;
    }
    .review_media iframe{
        width: 215px;
        height: 215px;
    }
}