*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

/* font-family: 'Roboto', sans-serif; */
body{
    background-color: #ededed;
}

.btn_mini{
    width: 220px;
    height: 50px;
    background-color: #F49714;
    color: white;
    border-radius: 10px;
    border: none;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 20px;
    margin-bottom: 15px;
}

.fs20px{
    font-size: 20px;
    color: #3D433F;
    letter-spacing: 2px;
}

.fs30px{
    font-size: 30px;
    color: #3D433F;
    letter-spacing: 4px;
}

.fs60px{
    font-size: 60px;
    letter-spacing: 6px;
    margin: 20px 0px;
}

.property_servis .container {
  width: 1440px;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
}
.property_servis .container .header {
  background-image: url(/img/Group108.png);
  height: 1032px;
  display: flex;  
  flex-direction: column;
}/*# sourceMappingURL=style.css.map */


.nav{
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav ul a{
    text-decoration: none;
    color: black;
    font-size: 25px;
    font-weight: bold;
}

.nav_cont{
    width: 60%;
}

.nav_tel{
    display: flex;
    width: 60%;
    justify-content: space-evenly;
    align-items: center;
    height: 40px;
    margin-right: auto;
    margin-left: auto;
    font-size: 18px;
}
.tel_numb{
    text-decoration: none;
    color: black;
}

.nav_tel .mail{
    background-image: url(/img/Email.png);
    width: 40px;
    height: 40px;
}

.nav ul{
    display: flex;
    justify-content: space-around;
}

.nav li,
footer li{
    list-style: none;
    margin-top: 10px;
}

.btn{
    width: 310px;
    height: 50px;
    background-color: #F49714;
    color: white;
    border-radius: 10px;
    border: none;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 20px;
    margin-bottom: 15px;
}

.property{
    display: flex;
    display: flex;
    height: inherit;
    justify-content: space-between;
    align-items: center;
}


.property_text{
    margin-left: 2%
}

.property_text span{
    font-size: 30px;
    color: #3D433F;
}

.form_feedback{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 10px;
    border: none;
    background-color: white;
    width: 448px;
    height: 512px;
    margin-right: 2%
}

.form_feedback_group{
    display: flex;
    flex-direction: column;
}

.form_feedback_group label{
    margin: 20px 0px 5px;
    color: #c4c4c4;
}

.form_feedback_group input{
    width: 324px;
        height: 54px;
        border: solid 1px #c4c4c4;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type='number'],
input[type="number"]:hover,
input[type="number"]:focus {
    appearance: none;
    -moz-appearance: textfield;
}

/* ------------------------------------------------------------------------------------------------ */

.promo_content h2,
.reviews h2{
    font-size: 60px;
    margin: 6% 0px;
    text-align: center;
    letter-spacing: 8px;
}

.promo_content_way{
    height: 1032px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.promo_content_block{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 35%;
    height: 33%;
    justify-content: space-between;
}

/* ------------------------------------------------------------------------------------------------ */

.why{
    height: 800px;
    display: flex;
    margin: 0 2%;
    justify-content: space-around;
    align-items: center;
}

.why_content{
    max-width: 33.3%;
    width: 311px;
    height: 50%;
    text-align: center;
}

.why_content h3,
.project_window h3{
    margin: 10px 0px 20px 0px;
}

/* ------------------------------------------------------------------------------------------------ */

.promo_content_project{
    text-align: center;
}

.content_project{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.project_window{
    border: solid 2px #4BB165;
    border-radius: 10px;
    width: 33%;
    margin-bottom: 60px;
    padding: 3%;
}

.project_window img{
    margin: 20px;
}

/* ------------------------------------------------------------------------------------------------ */

.logo_img{
    display: flex;
    height: 300px;
    align-items: center;
    justify-content: space-evenly;
    background-color: #F1F1F1;
}

/* ------------------------------------------------------------------------------------------------ */

.reviews{
    height: 800px;
    margin: 0 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.reviews_content{
    display: flex;
    justify-content: space-around;
}

.reviews_content_window{
    width: 35%;
    box-shadow: 0px 0px 12px 3px rgb(34 60 80 / 20%);
    border-radius: 10px;
    padding: 4%;
}

/* ------------------------------------------------------------------------------------------------ */

.review_wraper{
    display: flex;
    align-items: center;
    height: 1032px;
}

.review_media{
    text-align: center;
}

.review_text{
    width: 65%;
    height: 15%;
    display: flex;
    flex-direction: column;
}

.text_question{
    margin-bottom: 12%;
}

/* ------------------------------------------------------------------------------------------------ */

footer{
    height: 602px;
    background-color: #f1f1f1;
}

footer a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 4px;
    display: inline-block;
    margin-right: 7%;
}

.footer_logo{
    padding: 50px 85px;
}

.footer_content{
    display: flex;
    justify-content: space-around;
    height: 50%;
}

.footer_left{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer_left span{
    font-size: 18px;
    letter-spacing: 4px;
    font-weight: bold;
}

.footer_left img, 
.footer_left a{
    vertical-align: middle;
}

.footer_right{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer_right p{
    font-size: 20px;
    color: #3D433F;
    margin-top: 10px;
    letter-spacing: 2px;
    font-weight: bold;
}

.copyright{
    text-align: center;
    margin-top: 20px;
}


/* ---------------------------------------------------------------------------------------------- */

