*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: #ededed;
}

.btn_mini{
    width: 220px;
    height: 50px;
    background-color: #F49714;
    color: white;
    border-radius: 10px;
    border: none;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 20px;
    margin-bottom: 15px;
}

.fs20px{
    font-size: 20px;
    color: #3D433F;
    letter-spacing: 2px;
}

.fs30px{
    font-size: 30px;
    color: #3D433F;
    letter-spacing: 4px;
}

.fs60px{
    font-size: 60px;
    letter-spacing: 6px;
    margin: 6%, 0px;
}

.property_servis .container {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
}
.property_servis .container .header {
    background-image: url(/img/Group108.png);
    height: 1032px;
    display: flex;  
    flex-direction: column;
}

.nav{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 2%;
}

.nav ul a{
    text-decoration: none;
    color: black;
    font-size: 25px;
    font-weight: bold;
}

.nav_cont{
    width: 60%;
}

.nav_tel{
    display: flex;
    width: 60%;
    justify-content: space-evenly;
    align-items: center;
    height: 40px;
    margin-right: auto;
    margin-left: auto;
    font-size: 18px;
}
.tel_numb{
    text-decoration: none;
    color: black;
    white-space: nowrap;
}

.nav_tel .mail{
    background-image: url(/img/Email.png);
    width: 40px;
    height: 40px;
}

.nav ul{
    display: flex;
    justify-content: space-around;
}

.nav li,
footer li{
    list-style: none;
    margin-top: 10px;
}

.btn{
    width: 310px;
    height: 50px;
    background-color: #F49714;
    color: white;
    border-radius: 10px;
    border: none;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 20px;
    margin-bottom: 15px;
}

.property{
    display: flex;
    height: inherit;
    justify-content: space-between;
    align-items: center;
}


.property_text{
    margin-left: 4%;
    max-width: 85%;
}

.property_text span{
    font-size: 30px;
    color: #3D433F;
}

.form_feedback{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 10px;
    border: none;
    background-color: white;
    width: 448px;
    height: 512px;
    margin-right: 2%
}

.form_feedback_group{
    display: flex;
    flex-direction: column;
}

.form_feedback_group label{
    margin: 20px 0px 5px;
    color: #c4c4c4;
}

.form_feedback_group input{
    width: 324px;
    height: 54px;
    border: solid 1px #c4c4c4;
    font-size: 30px;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type='number'],
input[type="number"]:hover,
input[type="number"]:focus {
    appearance: none;
    -moz-appearance: textfield;
}
fieldset span{
    text-align: center;
    font-weight: 500;
}

/* ------------------------------------------------------------------------------------------------ */

.promo_content h2,
.reviews h2{
    font-size: 60px;
    margin: 6% 0px;
    text-align: center;
    letter-spacing: 8px;
}

.promo_content_way{
    height: 900px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-around;
}

.promo_content_block{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 40%;
    height: 37%;
    justify-content: space-between;
}

/* ------------------------------------------------------------------------------------------------ */

.why{
    height: auto;
    display: flex;
    margin: 0 2%;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
}

.why_content{
    width: 311px;
    height: 50%;
    text-align: center;
}

.why_content h3,
.project_window h3{
    margin: 10px 0px 20px 0px;
}

/* ------------------------------------------------------------------------------------------------ */

.promo_content_project{
    text-align: center;
}

.content_project{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.project_window{
    border: solid 2px #4BB165;
    border-radius: 10px;
    width: 33%;
    margin-bottom: 60px;
    padding: 3%;
}

.project_window img{
    margin: 20px 0;
    width: 100%;
}

/* ------------------------------------------------------------------------------------------------ */

.logo_img{
    display: flex;
    height: 300px;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-color: #F1F1F1;
    padding: 0 2%;
}

/* -----------------------------------------------------------  ------------------------------------ */

.reviews{
    height: 800px;
    margin: 0 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.reviews_content{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.reviews_content_window{
    width: 35%;
    box-shadow: 0px 0px 12px 3px rgb(34 60 80 / 20%);
    border-radius: 10px;
    padding: 4%;
}

/* ------------------------------------------------------------------------------------------------ */

.review_wraper{
    display: flex;
    align-items: center;
    height: 1032px;
}

.review_media{
    text-align: center;
}

.review_media iframe{
    width: 272px;
    height: 289px;
    margin-top: -24%;
    margin-left: -15%;
    border-radius: 10px;
}

.review_text{
    width: 65%;
    height: 15%;
    display: flex;
    flex-direction: column;
}

.text_question{
    margin-bottom: 12%;
}

/* ------------------------------------------------------------------------------------------------ */

footer{
    height: 602px;
    background-color: #f1f1f1;
}

footer a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 4px;
    display: inline-block;
    width: 32.3%;
    white-space: nowrap;
}

.footer_logo{
    padding: 50px 85px;
}

.footer_content{
    display: flex;
    justify-content: space-around;
    margin: 0 2%;
    flex-wrap: wrap;
}

.footer_left{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer_left span{
    font-size: 18px;
    letter-spacing: 4px;
    font-weight: bold;
}

.footer_left img, 
.footer_left a{
    vertical-align: middle;
}

.footer_left,
.footer_right,
.footer_center{
    margin: 2%;
    min-height: 360px;
}

.footer_right{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer_right p{
    font-size: 20px;
    color: #3D433F;
    margin-top: 10px;
    letter-spacing: 2px;
    font-weight: bold;
}

.copyright{
    text-align: center;
    margin-top: 20px;
}

/* ---------------------------------------------------------------------------------------------- */
                                          /* гамбургер */
/* ---------------------------------------------------------------------------------------------- */

.burger {
	display: flex;
	justify-content: flex-end;
    display: none;
}
.menu-btn {
	width: 30px;
	height: 30px;
	position: relative;
	z-index:2;
	/* overflow: hidden; */
}

.menu-btn span {
	width: 30px;
	height: 2px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #222222;
	transition: all 0.5s;
}

.menu-btn span:nth-of-type(2) {
	top: calc(50% - 5px);
}
.menu-btn span:nth-of-type(3) {
	top: calc(50% + 5px);
}

.menu-btn.active span:nth-of-type(1) {
  display: none;
}
.menu-btn.active span:nth-of-type(2) {
  top: 50%;
  transform: translate(-50%, 0%) rotate(45deg);  
}
.menu-btn.active span:nth-of-type(3) {
  top: 50%;
  transform: translate(-50%, 0%) rotate(-45deg); 
}

.menu {
	position: absolute;
	top: 0;
	right: 0;
	width: 20%;
	height: 100%;
	padding: 15px;
    background: #ededed;
	transform: translateX(100%);
	transition: transform 0.5s; 

}

.menu.active {
	transform: translateX(0);
}

.menu li {
	list-style-type: none;
    white-space: nowrap; 
}
-----------------------------------------------------------------------------------------------------------
/* ---------------------------------------------------------------------------------------------- */
                                          /* услуги */
/* ---------------------------------------------------------------------------------------------- */

.property_servis .container .header_services {
    border-bottom: 1px solid #3D433F;
    padding: 70px 0;
}


/* ---------------------------------------------------------------------------------------------- */
                                          /* КОМПЛЕКСНОЕ УПРАВЛЕНИЕ НЕДВИЖИМОСТЬЮ */
/* ---------------------------------------------------------------------------------------------- */
.property_text_content{
    margin-top: 7%;
}

.property_text_content h2{
    margin: 25px 0;
}

.btn_complex{
    margin-top: 7%;
}

.property_text_img{
    text-align: end;
    width: 96%;
    margin: 8% 0px;
}

.property_text_list{
    width: 80%;
    margin: auto;
}

.property_text_list ul{
    list-style: none;
}

.property_text_list li{
    font-size: 20px;
    letter-spacing: 2px;
    position: relative;
    margin-top: 120px;
}

.property_text_list ul ::before{
    content: '';
    display: block;
    width: 97px;
    height: 97px;
    background-image: url(../img/Up.png);
    position: absolute;
    background-repeat: round;
    left: -114px;
    bottom: -15px;
}

.benefits wrapper{
    display: flex;
    width: 90%;
    margin: auto;
    justify-content: space-around;
    height: 630px;
    align-items: center;
}

.benefits_content{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 31.3%;
    height: 75%;
    justify-content: center;
}

.benefits_content > span{
    margin: 20px 0;
    font-weight: 500;
}

.benefits_content:hover{
    border-radius: 10px;
    box-shadow: 0px 0px 10px 3px rgba(34, 60, 80, 0.2);
}

/* ---------------------------------------------------------------------------------------------- */
                                          /* ДОЛГОСРОЧНАЯ АРЕНДА НЕДВИЖИМОСТИ*/
/* ---------------------------------------------------------------------------------------------- */

.property_text_page_4{
    margin: 0 2%;
    display: flex;
    margin-top: 7%;
}

.property_text_img_page_4{
    width: 45%;
}

.property_text_content_page_4{
    width: 66%;
}


/* ---------------------------------------------------------------------------------------------- */
                                          /*наши проекты*/
/* ---------------------------------------------------------------------------------------------- */

.promo_content_our_projects{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 95%;
    align-content: space-around;
    height: 1500px;
    margin-right: auto;
    margin-left: auto;
}

.promo_content_our_projects_photo{
    width: 37%;
    height: 450px;
    background-image: url(/img/modern-apartment-architecture\ big.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.promo_content_our_projects_content{
    background-color: white;
    border: 2px solid green;
    border-radius: 10px;
    height: 80%;
    width: 70%;
    margin: 34px 0px 0px 234px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 15px;
    box-shadow: 0px 0px 30px 10px rgb(34 60 80 / 20%);
}

.review_text_our_projects{
    width: 77%;
    height: 61%;
    display: flex;
    flex-direction: column;
}

/* ---------------------------------------------------------------------------------------------- */
                                          /*apartments*/
/* ---------------------------------------------------------------------------------------------- */

.promo_content_apartments{
    margin: 0 5%;
    text-align: center;
}

.promo_content_apartments h2,
.promo_content_apartments p,
.project_praha_video{
    margin: 7% 0px;
}

.promo_content_apartments p {
    width: 85%;
    margin: auto;
    text-align: center;
}

.project_praha_video iframe {
    border-radius: 10px;
}

.photo_gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    min-height: 1718px;
    align-content: space-around;
}


/* ---------------------------------------------------------------------------------------------- */
                                          /*about us*/
/* ---------------------------------------------------------------------------------------------- */

.about_us{
    margin: 0 5%;
    text-align: center;
}

.about_us h2{
    margin: 6% 0;
}

.about_us_content{
    text-align: start;
    width: 70%;
}

.about_us_text{
    margin-top: 3%;
}

.about_ush2{
    margin-bottom: 7%;
}